.card {
    background-color: theme("colors.beige.dark");
    overflow: hidden;
    aspect-ratio: 9 / 16;
}

.card:hover {
    transform: scale(1.05, 1.05);
}

.card-art,
.card img {
    position: relative;
    object-fit: cover;
    height: 150%;
    top: -15%;
}

.card.rarity2 {
    background-image: linear-gradient(45deg, rgba(60, 60, 60, 1) 0%, rgba(142, 144, 144, 1) 50%, rgba(70, 70, 70, 1) 100%);
}

.card.rarity3 {
    background-image: linear-gradient(45deg, rgba(79, 79, 61, 1) 0%, rgba(166, 164, 127, 1) 50%, rgba(73, 73, 57, 1) 100%);
}

.card.rarity4 {
    background-image: linear-gradient(45deg, rgba(100, 79, 79, 1) 0%, rgba(73, 122, 128, 1) 35%, rgba(77, 70, 104, 1) 100%);
}

.weapon-and-element-container {
    position: absolute;
    width: 20%;
    height: 20%;
    top: 10%;
    z-index: 1;
}

.weapon-and-element-container img:first-child {
    padding-top: 40%;
}

.weapon-and-element-container img {
    width: 100%;
    height: auto;
}

.star-container {
    position: absolute;
    display: flex;
    //background-color: blue;
    width: 100%;
    height: 10%;
    top: 60%;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.star-container img {
    height: 75%;
}