.input-field {
  @apply border border-beige-dark p-1 inline-block ease-out-cubic;

  clip-path: polygon(
    calc(0% + 5px) calc(0% + 5px),
    /* top left */ calc(100% - 5px) calc(0% + 5px),
    /* top right */ calc(100% - 5px) calc(100% - 5px),
    /* bottom right */ calc(0% + 5px) calc(100% - 5px) /* bottom left */
  );
  transition: clip-path 0.4s;

  &:hover,
  &:focus-within {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

input[type="text"]:not(.MuiInput-input):not(.MuiInputBase-input),
input[type="url"]:not(.MuiInput-input),
input[type="number"]:not(.MuiInput-input),
select:not(.MuiInput-input),
textarea,
.input {
  @apply bg-beige-darker border border-beige px-2 py-4 w-full;

  &:focus {
    @apply outline-none;
  }
}

.input-file {
  @apply font-semibold inline-block border border-beige-dark px-2 py-4 cursor-pointer w-full;
}

input[type="file"] {
  @apply sr-only;
}

input[type="checkbox"] {
  @apply border border-beige-dark p-1 inline-block ease-out-cubic bg-grey-foreground h-4 w-4;
  appearance: none;

  &:checked {
    @apply bg-beige-active;
  }
}