@import "nprogress.scss";
@import "components";
@import "dist";

html,
body {
  color: #fff;
  background-color: #000;
  @apply font-labor;
  background-image: url(/decorations/pattern.png);
  background-repeat: repeat;
}

* {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
.serif {
  letter-spacing: -0.5px;
  font-family: "Cormorant", serif;
  line-height: 1;
  font-weight: 500;
}

.serif {
  font-family: "Cormorant", serif;
}

code {
  @apply text-beige;
}

svg {
  width: auto;
}

header > div {
  @apply mt-32 mb-8 mx-auto;
  background-color: RGBA(26, 24, 25, 0.5);
  border-radius: 32px;

  @screen md {
    @apply mt-16;
  }
}

.nav {
  ul {
    // @apply grid gap-y-8;
    // grid-template-columns: repeat(1, 1fr);

    // @screen sm {
    //   grid-template-columns: repeat(2, 1fr);
    // }

    // @screen md {
    //   grid-template-columns: repeat(3, 1fr);
    // }

    // @screen lg {
    //   grid-template-columns: repeat(6, 1fr);
    // }
  }

  li {
    .iso {
      height: 50px;
      width: 50px;
      background-color: theme("colors.beige.darker");
      transform: rotate(45deg);

      img {
        transform: rotate(-45deg) scale(1.5);
      }
    }
  }
}

.nav-item {
  img {
    @apply transition-all ease-out-cubic;
    clip-path: polygon(
      30% 0%,
      70% 0%,
      100% 30%,
      100% 70%,
      70% 100%,
      30% 100%,
      0% 70%,
      0% 30%
    );
  }

  &:hover,
  .active {
    img {
      @apply bg-beige-dark;

      clip-path: polygon(
        0 28%,
        52% 0,
        100% 30%,
        94% 50%,
        98% 70%,
        51% 100%,
        0 69%,
        6% 50%
      );
    }

    span {
      @apply text-beige-light;
    }
  }
}

.iso-bg {
  border: 2px solid;
  border-color: theme("colors.beige.darker");
  &.active {
    border-color: theme("colors.beige.DEFAULT");
  }
  background-color: theme("colors.beige.darker");
  width: 56px;
  height: 56px;
  // margin-left: 24px;
  transform: rotateZ(45deg);
  box-sizing: border-box;
  img {
    transform: rotateZ(-45deg) translateY(-12px);
  }
}

.container {
  @apply w-full px-2 md:px-4 lg:px-8;
  max-width: 1500px;
  margin: 0 auto;
}

section {
  @apply relative p-4 pt-12 md:px-6 md:py-16 bg-grey-lighter border border-beige-inactive;

  > .overlap {
    @apply absolute top-0 transform -translate-y-1/2 left-4 py-4 px-6 text-2xl bg-beige-inactive;
    color: #000;
  }
}

footer {
  margin-top: 64px;

  a {
    text-decoration: underline dotted;

    &:hover {
      text-decoration: none;
    }
  }
}

.hover-bg {
  @apply transition-colors rounded-md;

  &:hover,
  &:focus,
  &.active,
  &[aria-selected="true"] {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.sidenav {
  ul {
    @apply rounded-md border border-beige-dark border-opacity-30;

    > a,
    > li {
      @apply block px-5 py-3 transition-colors bg-beige-darker;
    }

    > a {
      svg {
        @apply transform -translate-x-4 transition-transform ease-out-cubic;
      }

      &:hover,
      &:focus {
        @apply bg-opacity-80;

        svg {
          @apply translate-x-0;
        }
      }
    }
  }
}

.underline-dotted {
  text-decoration: underline dotted;
}

.text-shadow {
  text-shadow: 1px 1px 2px #000, 0 0 1em #000, 0 0 0.2em #000;
}

.reversed {
  transform: scaleX(-1);
}

.losange {
  clip-path: polygon(0 50%, 50% 0, 100% 50%, 50% 100%);
}

.article__mask {
  @apply bg-grey-lighter;
  clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 100%, 0 -50%);
}