@import "nprogress.scss";
@import "components";
@import "dist";

html,
body {
  @apply font-labor bg-black text-white overflow-x-hidden;
  background-image: url(/decorations/pattern.png);
  background-repeat: repeat;
}

* {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
.serif {
  letter-spacing: -0.5px;
  font-family: "Cormorant", serif;
  line-height: 1;
  font-weight: 500;
}

.serif {
  font-family: "Cormorant", serif;
}

code {
  @apply text-beige;
}

svg {
  width: auto;
}

.nav {
  @apply transition-all ease-out-cubic duration-300;

  &.nav-is-opened {
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 100%, 60% 100%, 42% 100%, 0 100%, 0 0) !important;

    @screen xl {
      clip-path: unset;
    }
  }

  &.nav-is-closed {
    pointer-events: none;
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 80% 0, 51% 0, 43% 0, 19% 0, 0 0);

    @screen xl {
      clip-path: unset;
    }
  }

  ul {
    // @apply grid gap-y-8;
    // grid-template-columns: repeat(1, 1fr);

    // @screen sm {
    //   grid-template-columns: repeat(2, 1fr);
    // }

    // @screen md {
    //   grid-template-columns: repeat(3, 1fr);
    // }

    // @screen lg {
    //   grid-template-columns: repeat(6, 1fr);
    // }
  }

  li {
    .iso {
      height: 50px;
      width: 50px;
      background-color: theme("colors.beige.darker");
      transform: rotate(45deg);

      img {
        transform: rotate(-45deg) scale(1.5);
      }
    }
  }
}

.nav-item {
  img {
    @apply transition-all ease-out-cubic;
    clip-path: polygon(
      30% 0%,
      70% 0%,
      100% 30%,
      100% 70%,
      70% 100%,
      30% 100%,
      0% 70%,
      0% 30%
    );
  }

  &:hover,
  .active {
    img {
      @apply bg-beige-dark;
    }

    span {
      @apply text-beige-light;
    }
  }

  .inactive {
    img {

      @apply bg-black;
    }
  }
}

.iso-bg {
  border: 2px solid;
  border-color: theme("colors.beige.darker");
  &.active {
    border-color: theme("colors.beige.DEFAULT");
  }
  background-color: theme("colors.beige.darker");
  width: 56px;
  height: 56px;
  // margin-left: 24px;
  transform: rotateZ(45deg);
  box-sizing: border-box;
  img {
    transform: rotateZ(-45deg) translateY(-12px);
  }
}

.container {
  @apply w-full px-2 md:px-4 lg:px-8;
  max-width: 1200px;
  margin: 0 auto;
}

section {
  @apply relative p-4 pt-12 md:px-6 md:py-16 bg-grey-lighter border border-beige-inactive;

  > .overlap {
    @apply absolute top-0 transform -translate-y-1/2 left-4 py-4 px-6 text-2xl bg-beige-inactive;
    color: #000;
  }
}

footer {
  margin-top: 64px;

  a {
    text-decoration: underline dotted;

    &:hover {
      text-decoration: none;
    }
  }
}

.hover-bg {
  @apply transition-colors rounded-md;

  &:hover,
  &:focus,
  &.active,
  &[aria-selected="true"] {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.sidenav {
  ul {
    @apply rounded-md border border-beige-dark border-opacity-30;

    > a,
    > li {
      @apply block px-5 py-3 transition-colors bg-beige-darker;
    }

    > a {
      svg {
        @apply transform -translate-x-4 transition-transform ease-out-cubic;
      }

      &:hover,
      &:focus {
        @apply bg-opacity-80;

        svg {
          @apply translate-x-0;
        }
      }
    }
  }
}

.underline-dotted {
  text-decoration: underline dotted;
}

.text-shadow {
  text-shadow: 1px 1px 2px #000, 0 0 1em #000, 0 0 0.2em #000;
}

.reversed {
  transform: scaleX(-1);
}



.bg-pattern {
  background-image: url(/decorations/pattern.png);
  background-repeat: repeat;
}

iframe {
  // This is for strawpoll embed to work properly.
  height: 100% !important;
  width: 100% !important;
  min-height: 600px !important;
}

.text-rarity-4 {
  background: -webkit-linear-gradient(#b78cff, #5ac3e8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tierlist-tooltip {
  @apply bg-grey-foreground;
  font-size: 14px !important;
  pointer-events: auto !important;

  &:hover {
    visibility: visible !important;
    opacity: 1 !important;
  }

  a {
    @apply text-beige-active underline-dotted;

    &:hover {
      @apply no-underline;
    }
  }
}