@import 'nprogress.scss';
@import 'components';
@import 'dist';

html,
body {
  @apply font-labor bg-black text-white overflow-x-hidden;
  background-image: url(/decorations/pattern.png);
  background-repeat: repeat;
}

* {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
.serif {
  letter-spacing: -0.5px;
  font-family: 'Cormorant', serif;
  line-height: 1;
  font-weight: 500;
}

.serif {
  font-family: 'Cormorant', serif;
}

code {
  @apply text-beige;
}

svg {
  width: auto;
}

.darken-img img{
  filter: brightness(0.8) contrast(1.2);
}

.nav {
  @apply transition-all ease-out-cubic duration-300;

  ul {
    // @apply grid gap-y-8;
    // grid-template-columns: repeat(1, 1fr);

    // @screen sm {
    //   grid-template-columns: repeat(2, 1fr);
    // }

    // @screen md {
    //   grid-template-columns: repeat(3, 1fr);
    // }

    // @screen lg {
    //   grid-template-columns: repeat(6, 1fr);
    // }
  }

  li {
    .iso {
      height: 50px;
      width: 50px;
      background-color: theme('colors.beige.darker');
      transform: rotate(45deg);

      img {
        transform: rotate(-45deg) scale(1.5);
      }
    }
  }
}

.nav-item {
  img {
    @apply transition-all ease-out-cubic;
    clip-path: polygon(
      30% 0%,
      70% 0%,
      100% 30%,
      100% 70%,
      70% 100%,
      30% 100%,
      0% 70%,
      0% 30%
    );
  }

  &:hover,
  .active {
    img {
      @apply bg-beige-dark;
    }

    span {
      @apply text-beige-light;
    }
  }

  .inactive {
    img {
      @apply bg-black;
    }
  }
}

.iso-bg {
  border: 2px solid;
  border-color: theme('colors.beige.darker');
  &.active {
    border-color: theme('colors.beige.DEFAULT');
  }
  background-color: theme('colors.beige.darker');
  width: 56px;
  height: 56px;
  // margin-left: 24px;
  transform: rotateZ(45deg);
  box-sizing: border-box;
  img {
    transform: rotateZ(-45deg) translateY(-12px);
  }
}

.container {
  @apply w-full px-2 md:px-4 lg:px-8;
  max-width: 1200px;
  margin: 0 auto;
}

section {
  @apply relative p-4 pt-12 md:px-6 md:py-16 bg-grey-lighter border border-beige-inactive;

  > .overlap {
    @apply absolute top-0 transform -translate-y-1/2 left-4 py-4 px-6 text-2xl bg-beige-inactive;
    color: #000;
  }
}

.hover-bg {
  @apply transition-colors rounded-md;

  &:hover,
  &:focus,
  &.active,
  &[aria-selected='true'] {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.sidenav {
  ul {
    @apply rounded-md border border-beige-dark border-opacity-30;

    > a,
    > li {
      @apply block px-5 py-3 transition-colors bg-beige-darker;
    }

    > a {
      svg {
        @apply transform -translate-x-4 transition-transform ease-out-cubic;
      }

      &:hover,
      &:focus {
        @apply bg-opacity-80;

        svg {
          @apply translate-x-0;
        }
      }
    }
  }
}

.underline-dotted {
  text-decoration: underline dotted;
}

.text-shadow {
  text-shadow: 1px 1px 2px #000, 0 0 1em #000, 0 0 0.2em #000;
}

.reversed {
  transform: scaleX(-1);
}

.bg-pattern {
  background-image: url(/decorations/pattern.png);
  background-repeat: repeat;
}

iframe {
  // This is for strawpoll embed to work properly.
  height: 100% !important;
  width: 100% !important;
  min-height: 600px !important;
}

.text-rarity-4 {
  background: linear-gradient(#b78cff, #5ac3e8);
  background-clip: text;
  color: transparent;
}

.tierlist-tooltip {
  @apply bg-grey-foreground;
  font-size: 14px !important;
  pointer-events: auto !important;

  &:hover {
    visibility: visible !important;
    opacity: 1 !important;
  }

  a {
    @apply text-beige-active underline-dotted;

    &:hover {
      @apply no-underline;
    }
  }
}

.credits {
  a {
    text-decoration: underline dotted;

    &:hover {
      text-decoration: none;
    }
  }
}

.floating {
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }

  50% {
    transform: translate(0, 3px);
  }

  100% {
    transform: translate(0, -0px);
  }
}

iframe {
  @apply filter invert;
}

.rc-slider {
  cursor: pointer;
}

.rc-slider-rail {
  background-color: theme('colors.beige.dark') !important;
}

.rc-slider-track {
  background-color: theme('colors.beige.active') !important;
}

.rc-slider-handle {
  border-color: theme('colors.beige.active') !important;
  border-radius: 0 !important;
  transform: rotate(45deg) !important;
}